{% extends "base.html" %}
{% block title %}Menu{% endblock title %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% if user.is_staff %}

<h1>Add Menu</h1>
<form action="{% url 'create_menu' %}"
      method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
<button class="button" type="submit">Add</button>
{% if user.is_superuser %}
<div class="container mt-5">
        <table class="table table-striped mt-4">
            <thead>
                <tr>
                    <th scope="col">id</a></th>
                    <th scope="col">Image</th>
                    <th scope="col">Food</th>
                    <th scope="col">Branch</th>
                    <th scope="col">Update</a></th>
					<th scope="col">Delete</a></th>
                </tr>
            </thead>
            <tbody>
            {% for re in menu_list %}
                        <th scope="row">{{forloop.counter}}</th>
            <th scope="col">
                <img src="{{re.image.url}}" alt="" style="height:100px" class="img-fluid img-responsive">
                    </th>
                        <th scope="col">{{ re.food }}</th>
                        <th scope="col">{{ re.branch }}</th>
                        <th scope="col"><a href="{% url 'edit_menu' re.pk %}" class="btn btn-danger">Update</a></th>
                        <th scope="col"><a href="{% url 'delete_menu' re.pk %}" class="btn btn-danger">Delete</a></th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
</form>
{% endif %}

{% endblock content %}