{% extends "base.html" %}
{% block title %}category_food{% endblock title %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% if user.is_superuser %}

<h1>Delete Food</h1>
<form action="{% url 'delete_category_food' category_food.pk %}" method="post">
    {% csrf_token %}
    {{ form }}
    Are you sure you want to delete it:
    <br><br>
    {{ category_food.name }}?
    <br><br>

    <button class="button" type="submit">Delete</button>

    <a href="{% url 'create_category_food' %}">Cancel</a>

</form>

{% endif %}
{% endblock content %}