{% extends "base.html" %}
{% block title %}Profile Page{% endblock title %}
{% block content %}
    <div class="row my-3 p-3">
        <h1>Hi Dear {{user.username}}!</h1>
    </div>
    <div class="row my-3 p-3">
        <img class="rounded-circle account-img" src="{{ user.profile.avatar.url }} " style="cursor: pointer;"/>
    </div>
    {% if user_form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div id="form_errors">
                {% for key, value in user_form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div class="form-content">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="small mb-1">First_name:</label>
                            {{ user_form.first_name }}
                        <label class="small mb-1">Last_name:</label>
                            {{ user_form.last_name }}
                        <label class="small mb-1">Username:</label>
                            {{ user_form.username }}
                        <label class="small mb-1">Email:</label>
                            {{ user_form.email }}
                    </div>
                    <div class="form-group">
                        <a href="{% url 'password_change' %}">Change Password</a>
                        <hr>
                        <label class="small mb-1">Change Avatar:</label>
                        {{ profile_form.avatar }}
                    </div>
                    <label class="small mb-1">Bio:</label> {{ profile_form.bio }}
                    <label class="small mb-1">City:</label>
                            {{ profile_form.city }}
                    <label class="small mb-1">Address:</label>
                    {{ profile_form.address }}
                    <br>
                    <a href="{% url 'history_orders' %}" class="btn btn-danger">history of orders</a>
                    <br>
                    {% if user.is_superuser %}
                    <a href="http://127.0.0.1:8000/admin/" class="btn btn-danger">Admin</a>
                    <a href="{% url 'create_category_food' %}" class="btn btn-danger">Category Food</a>
                    <a href="{% url 'create_category_meel' %}" class="btn btn-danger">Category Meel</a>
                    <a href="{% url 'create_food' %}" class="btn btn-danger">Food</a>
                    <hr>
                    <a href="{% url 'create_restaurant' %}" class="btn btn-danger">Restaurant</a>
                    <a href="{% url 'create_branch' %}" class="btn btn-danger">Branch</a>
                    <a href="{% url 'create_menu' %}" class="btn btn-danger">Menu</a>
                    <a href="{% url 'list_user' %}" class="btn btn-danger">User</a>
                    {% endif %}
                    {% if user.is_staff %}
                    <a href="{% url 'menu_manager' %}" class="btn btn-danger">continue</a>
                    <a href="{% url 'orders' %}" class="btn btn-danger">orders</a>
                    {% endif %}
                </div>
            </div>
            <br><br>
            <button type="submit" class="btn btn-dark btn-lg">Save Changes</button>
            <button type="reset" class="btn btn-dark btn-lg">Reset</button>
        </form>
    </div>
{% endblock content %}
