
{%extends 'base.html'%}


{% block content %}
    <div class="container">
        <br>
        <br>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Log In</button>
        </form>
        <br>
        <br>
            <p><a href="{% url 'restaurants' %}">restaurant</a></p>
            <p><a href="{% url 'branchs' %}">branch</a></p>
            <p><a href="{% url 'foods' %}">food</a></p>
            <p><a href="{% url 'categorymeels' %}">categorymeel</a></p>
            <p><a href="{% url 'categoryfoods' %}">categoryfood</a></p>
            <p><a href="{% url 'q1' %}">The best-selling food</a></p>
            <p><a href="{% url 'q2' %}">The best-selling branch</a></p>
            <p><a href="{% url 'q3' %}">The best-selling restaurant</a></p>
    </div>


{% endblock content %}





