{% extends "base.html" %}
{% block title %}order{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!--Main layout-->
  <main>
    <div class="container wow fadeIn">

      <!-- Heading -->
      <h2 class="my-5 h2 text-center">Payment</h2>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-8 mb-4">

          <!--Card-->
          <div class="card">

            <!--Card content-->
            <form method="POST" class="card-body">
              {% csrf_token%}
              <h3>Address</h3>
              <!--address-->
              <div class="hideable_form">
                <div class="md-form mb-5">
                  <input type='text' placeholder='1234 Main St' id='address' name='address' class='form-control' />
                  <label for="address" class="">Address</label>
                </div>
                <div class="row">
                  <div class="col-lg-4 col-md-12 mb-4">
                    <label for="city">City</label>
                    <input type='text' placeholder='city' id='city' name='city' class='form-control' />
                  </div>
                  <div class="col-lg-4 col-md-6 mb-4">
                    <label for="zip">Zip</label>
                    <input type='text' placeholder='Zip code' id='zip' name='zip' class='form-control' />
                  <div class="invalid-feedback">
                      Zip code required.
                </div>
              </div>

            </div>
                  <!--Grid column-->

          </div>

                              <hr>

              <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" name="sset_default" id="set_default">
                  <label class="custom-control-label" for="set_default">Save as default address</label>
                </div>
              {% if default_address %}
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="use_default" id="use_default">
                <label class="custom-control-label" for="use_default">Use default address</label>
              </div>
              {% endif %}

              <hr>

              <hr class="mb-4">
              <button class="btn btn-danger btn-lg btn-block" type="submit">Click to checkout</button>

            </form>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <div class="col-md-4 mb-4">

          <!-- Heading -->
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart</span>
            <span class="badge badge-secondary badge-pill">{{ order.items.count }}</span>
          </h4>

          <!-- Cart -->
          <ul class="list-group mb-3 z-depth-1">
            {% for order_item in order.items.all %}
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">{{ order_item.quantity }} x {{ order_item.item.food}} </h6>
                <h6 class="my-0">from {{ order_item.item.branch }} / {{ order_item.item.branch.restaurant }} </h6>
                <small class="text-muted">food description : {{ order_item.item.food.description}}</small>
              </div>
               <span class="text-muted">${{ order_item.get_final_price }}</span>
            </li>
            {% endfor %}
            <li class="list-group-item d-flex justify-content-between">
              <span>Total (USD)</span>
              <strong>${{ order.get_total }}</strong>
            </li>
          </ul>
        </div>

      </div>

      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->


{% endblock content %}

