{% extends "base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}
      <form method="post" enctype="multipart/form-data">
         {% csrf_token %}

         <label><h3>Restaurant</h3></label>
         //accessing form 1 from view
         {{ forms.restaurant_form.as_p }}
         <label><h3>Branch</h3></label>
         //accessing form 2 from view
         {{ forms.branch_form.as_p }}
                   <label><h3>Menu</h3></label>
         //accessing form 2 from view
         {{ forms.menu_form.as_p }}
                   <label><h3>Food</h3></label>
         //accessing form 2 from view
         {{ forms.food_form.as_p }}
                   <label><h3>Category Meel</h3></label>
         //accessing form 2 from view
         {{ forms.categorymeel_form.as_p }}
                   <label><h3>Category Food</h3></label>
         //accessing form 2 from view
         {{ forms.catogoryfood_form.as_p }}
         <input type="submit" value="submit"/>
      </form>

{% endblock content %}
