{% extends "base.html" %}
{% block title %}Logout{% endblock title %}
{% block content %}
{% load static %}

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<br/></br/>

<div class="container">

   <div class="col-md-8 offset-md-2">

{% if query %}

           <h2>

           {% with results.count as total_results %}

           Found {{ total_results }} result{{ total_results|pluralize }}

           {% endwith %}

           </h2>

   {% for c in results %}

  <a href="{{c.get_url}}"><h3>{{c.name}}</h3></a>

  <h5><img src="{{c.image.url}}" alt="" style="height:200px" class="img-fluid img-responsive">
      {{c.food.name}} / {{c.quantity}} / {{c.price}} / {{c.branch.name}} / {{c.branch.restaurant}}</h5>


   {% empty %}

   <h3>No results found.</h3>

   {% endfor %}

  {% endif %}

        <form action="{% url 'home' %}" class="form-inline" method="get">

        <button type="submit" class="btn btn-primary btn-lg mb-2">Back</button>

        </form>

    </div>

</div>

{% endblock content %}